:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
}

button {
  width: fit-content;
  height: fit-content;
}

a {
  text-decoration: none;
}

.content-image {
  width: 175px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 275px;
}

.image-wrapper {
  height: 275px;
}

.name {
  max-width: 175px;
  height: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 8px;
  border: 1px solid maroon;
  border-radius: 16px;
  padding: 8px;
  align-items: baseline;
  width: inherit;
}

.everything-else {
  width: 75em;
}

.list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: inherit;
  justify-content: center;
}

.items {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  height: fit-content;
}

.top-bar {
  top: 0;
  right: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 8px;
  border: 1px solid maroon;
  background-color: maroon;
}

.bottom {
  display: flex;
}

.sidebar {
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  width: 15em;
  display: flex;
  justify-content: start;
  background-color: aqua;
  height: 500px;
  
}

.sidebar ul {
  list-style-type: none;
}
