:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

button {
  width: fit-content;
  height: fit-content;
}

img {
  max-width: 175px;
}

.name {max-width: 175px;}

.content {
  display: flex;
  flex-direction: column;
  margin: 8px;
  border: 1px solid maroon;
  border-radius: 16px;
  padding: 8px;
  align-items: baseline;
}

.list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.items {
  display: flex;
}

.top-bar {
  top: 0;
  right: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 8px;
  border: 1px solid maroon;
  background-color: maroon;
}

.bottom {
  display: flex;
}

.sidebar {
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  width: 15em;
  display: flex;
  justify-content: start;
  background-color: aqua;
  height: 500px;
  
}

.sidebar ul {
  list-style-type: none;
}
